Hi, <%= @user.email %>
===============================================

你在 Raising Stars 的專案 <%= @proposal.title %>，
真是非常可惜，沒有達標。

以下是支持你的使用者(金額將會退還)：

<table>
  <tr>
    <td>使用者</td>
    <td>金額</td>
  </tr>
  <% @proposal_orders.each do |p| %>
    <tr>
      <td><%= p.email %></td>
      <td><%= p.amount %></td>
    </tr>
  <% end %>
</table>

期望你繼續努力

By Raising Stars
