<div id='main' role='main'>

        <div id='main-content'>
          <div class='container'>
            <div class='row' id='portfolio-filter'>
              <div class='col-sm-12'>
                <h2 style='font-size: 40px'>謝謝您的捐款</h2>
                <br>

                  <br>
                  <br>
                  <div class="field">
                    <span style='font-size: 20px'>
                      <h3>Order #<%= @order.id %></h3>
                    </span>
                  </div>
                  <br>
                  <div class="field">
                    <span style='font-size: 20px'>
                      <p>付款狀態: <%= @order.payment_status %></p>
                    </span>
                  </div>

              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
</div>



