<div id='main' role='main'>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon no-mg-t'>
            <i class='fa fa-tag'></i>
            <h2>
              個人資料
            </h2>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <%#= image_tag current_user.avatar_url %>
              <br>
              <p class='lead lead-xs text-center'>
                Email: <%=current_user.email%>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-leaf'></i>
            <h2>
              項目收藏
            </h2>
          </div>
          <div class='row panels'>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-clock-o icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'><%=@user.email%></h3>
                  <p><%=@profile.name%></p>
                </div>
              </a>
            </div>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-cog icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Pleasure</h3>
                  <p>Donec id massa sodales, blandit nulla vel, aliquet velit. Nullam ultricies ut ligula non ultricies. Ut fermentum dui a metus.</p>
                </div>
              </a>
            </div>
            <div class='col-sm-4 panel-item'>
              <a class='panel panel-circle-contrast' href='#'>
                <div class='panel-icon'>
                  <i class='fa fa-rocket icon'></i>
                </div>
                <div class='panel-body text-center'>
                  <h3 class='panel-title'>Results</h3>
                  <p>Aenean adipiscing rhoncus nulla ut sagittis. Curabitur vitae libero sagittis, placerat dolor eget, vestibulum sem.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>
