<div id='main' role='main'>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon no-mg-t'>
            <i class='fa fa-code-fork'></i>
            <h2>
              Example form
            </h2>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <form class='form'>
                <fieldset class='row'>
                  <div class='col-sm-4 mg-b-md'>
                    <div class='lead'>Personal info</div>
                    <small class='text-muted'>Integer vulputate porta augue, sit amet interdum tellus commodo et. Sed volutpat neque vel turpis ultrices sini bibendum.</small>
                  </div>
                  <div class='col-sm-7 col-sm-offset-1'>
                    <div class='form-group'>
                      <label>Full name</label>
                      <input class='form-control' id='input-name' type='text'>
                    </div>
                    <div class='form-group'>
                      <label>Street</label>
                      <input class='form-control' id='input-street' placeholder='Street placeholder' type='text'>
                      <p class='help-block'>
                        <small class='text-muted'>Description for street field</small>
                      </p>
                    </div>
                    <div class='form-group'>
                      <label>City</label>
                      <input class='form-control' id='input-city' placeholder='City placeholder' type='text'>
                    </div>
                    <div class='form-group no-mg-b'>
                      <label>Company</label>
                      <div class='row'>
                        <div class='col-sm-6 col-md-6 col-lg-4'>
                          <div class='input-group'>
                            <input class='form-control' id='input-company' type='text'>
                            <span class='input-group-btn'>
                              <button class='btn btn-very-light' type='button'>
                                <i class='fa fa-building-o text-dark'></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <hr class='hr-dashed'>
                <fieldset class='row'>
                  <div class='col-sm-4 mg-b-md'>
                    <div class='lead'>
                      Some other actions
                    </div>
                    <small class='text-muted'>Proin condimentum, nisi vel vestibulum ultricies, nunc elit. Etiam luctus, dui congue tempus blandit, dui.</small>
                  </div>
                  <div class='col-sm-7 col-sm-offset-1'>
                    <div class='form-group'>
                      <label>Disabled input</label>
                      <input class='form-control' disabled id='input-disabled-input' type='text' value='Disabled value'>
                    </div>
                    <div class='form-group'>
                      <label class='checkbox-inline'>
                        <input id='input-inlineCheckbox1' type='checkbox' value='option1'>
                        Inline 1
                      </label>
                      <label class='checkbox-inline'>
                        <input id='input-inlineCheckbox2' type='checkbox' value='option2'>
                        Inline 2
                      </label>
                      <label class='checkbox-inline'>
                        <input id='input-inlineCheckbox3' type='checkbox' value='option3'>
                        Inline 3
                      </label>
                    </div>
                    <div class='form-group'>
                      <label>Money</label>
                      <div class='row'>
                        <div class='col-sm-6 col-md-6 col-lg-4'>
                          <div class='input-group'>
                            <span class='input-group-addon'>
                              &#36;
                            </span>
                            <input class='form-control input-lg text-right' id='input-money' type='text'>
                            <span class='input-group-addon'>.00</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
                <div class='form-actions mg-t-lg'>
                  <div class='row'>
                    <div class='col-sm-7 col-sm-offset-5'>
                      <div class='text-center-xs'>
                        <div class='btn btn-contrast btn-lg'>
                          <i class='fa fa-save'></i>
                          Save
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-list'></i>
            <h2>
              List of all form elements
            </h2>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
                          <form class="form form-horizontal" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" /><div class='form-group'>
                <label class='col-md-3 control-label' for='input-text'>Text field</label>
                <div class='col-md-5'>
                  <input class='form-control' id='input-text' placeholder='Text field' type='text'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-md-3 control-label' for='input-password'>Password field</label>
                <div class='col-md-5'>
                  <input class='form-control' id='input-password' placeholder='Password field' type='password' value='Top secret!'>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-md-3 control-label' for='input-textarea'>Textarea</label>
                <div class='col-md-5'>
                  <textarea class='form-control' id='input-textarea' placeholder='Textarea' rows='3'></textarea>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-md-3 control-label' for='input-disabled-input-1'>Disabled input</label>
                <div class='col-md-5'>
                  <input class='form-control' disabled='' id='input-disabled-input-1' placeholder='Disabled input here...' type='text'>
                </div>
              </div>
              <hr class='hr-dashed'>
              <div class='form-group'>
                <label class='col-md-3 control-label'>Checkboxes</label>
                <div class='col-md-9'>
                  <div class='checkbox'>
                    <label>
                      <input type='checkbox' value=''>
                      perspiciatis dolor nisi
                    </label>
                  </div>
                  <div class='checkbox'>
                    <label>
                      <input type='checkbox' value=''>
                      facere voluptas dignissimos neque aut et facilis corporis
                    </label>
                  </div>
                  <div class='checkbox'>
                    <label>
                      <input type='checkbox' value=''>
                      reiciendis et aperiam nam adipisci perferendis
                    </label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-md-3 control-label'>Inline checkboxes</label>
                <div class='col-md-9'>
                  <label class='checkbox-inline'>
                    <input type='checkbox' value=''>
                    Sunt
                  </label>
                  <label class='checkbox-inline'>
                    <input type='checkbox' value=''>
                    Vitae
                  </label>
                  <label class='checkbox-inline'>
                    <input type='checkbox' value=''>
                    Libero
                  </label>
                </div>
              </div>
              <hr class='hr-dashed'>
              <div class='form-group'>
                <label class='col-md-3 control-label'>Radios</label>
                <div class='col-md-9'>
                  <div class='radio'>
                    <label>
                      <input name='radio' type='radio' value=''>
                      est voluptatem voluptatem aut dolores
                    </label>
                  </div>
                  <div class='radio'>
                    <label>
                      <input name='radio' type='radio' value=''>
                      incidunt autem consequuntur
                    </label>
                  </div>
                  <div class='radio'>
                    <label>
                      <input name='radio' type='radio' value=''>
                      consequatur eius tenetur harum quo animi ut nihil inventore
                    </label>
                  </div>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-md-3 control-label'>Inline radios</label>
                <div class='col-md-9'>
                  <label class='radio radio-inline'>
                    <input name='radio' type='radio' value=''>
                    Dolor
                  </label>
                  <label class='radio radio-inline'>
                    <input name='radio' type='radio' value=''>
                    Incidunt
                  </label>
                  <label class='radio radio-inline'>
                    <input name='radio' type='radio' value=''>
                    Rerum
                  </label>
                </div>
              </div>
              <hr class='hr-dashed'>
              <div class='form-group'>
                <label class='col-md-3 control-label' for='input-select'>Select</label>
                <div class='col-md-5'>
                  <select class='form-control' id='input-select'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <div class='form-group'>
                <label class='col-md-3 control-label' for='input-select-multi'>Multiple select</label>
                <div class='col-md-5'>
                  <select class='form-control' id='input-select-multi' multiple='multiple'>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
              <hr class='hr-dashed'>
              <div class='form-group has-warning'>
                <label class='col-md-3 control-label' for='input-warning'>Input with warning</label>
                <div class='col-md-5'>
                  <input class='form-control' id='input-warning' type='text'>
                  <span class='help-block'>Something may have gone wrong</span>
                </div>
              </div>
              <div class='form-group has-error'>
                <label class='col-md-3 control-label' for='input-error'>Input with error</label>
                <div class='col-md-5'>
                  <input class='form-control' id='input-error' type='text'>
                  <span class='help-block'>Please correct the error</span>
                </div>
              </div>
              <div class='form-group has-success'>
                <label class='col-md-3 control-label' for='input-success'>Input with success</label>
                <div class='col-md-5'>
                  <input class='form-control' id='input-success' type='text'>
                  <span class='help-block'>Woohoo!</span>
                </div>
              </div>
              <div class='form-actions mg-t-lg'>
                <div class='row'>
                  <div class='col-md-9 col-md-offset-3'>
                    <button class='btn btn-contrast' type='submit'>
                      <i class='icon-save'></i>
                      Save
                    </button>
                    <button class='btn btn-very-light' type='submit'>Cancel</button>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>
