<div id='main' role='main'>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-dollar'></i>
            <h2>
              捐款選項
            </h2>
          </div>
          <div class='row panels'>
            <% @products.each do |p| %>
            <div class='col-sm-4 panel-item'>
              <%# if p.price == 500 %>

              <%# else %>
                <div class='panel panel-bordered panel-light pricing-table pricing-table-solid'>
              <%# end %>
                <div class='panel-heading'>
                  <h3 class='panel-title'><%= p.title %></h3>
                </div>
                <div class='panel-body'>
                  <h4 class='price'>
                    <span class='currency'>
                      &#36;
                    </span>
                    <%= p.price %>
                  </h4>
                  <ul class='list-unstyled'>
                    <li>
                      <strong>感謝您的天使投資</strong>

                    </li>

                    <li>
                      <strong>請多支持募資之星</strong>

                    </li>

                  </ul>
                  <%= link_to "金額確認", new_proposal_product_order_path(@proposal, p), :class => "btn btn-block  btn-light btn-bordered" %>
                </div>
              </div>
            </div>
            <% end %>
          <div class='row'>
            <div class='col-sm-12'>
              <hr class='hr-half hr-invisible'>
              <p class='lead lead-xs text-center' style='font-size: 20px'>* 注意 如果您有意願投資募資之星，請直接聯絡Norman Hexter 還有 Majus!!</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>

