<div id='main' role='main'>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
            <i class='fa fa-dollar'></i>
            <h2>
              Three options
            </h2>
          </div>
          <div class='row panels'>
            <% @products.each do |p| %>
            <div class='col-sm-4 panel-item'>
              <% if p.price == 500 %>
                <div class='panel panel-bordered panel-contrast pricing-table pricing-table-solid'>
              <% else %>
                <div class='panel panel-bordered panel-light pricing-table pricing-table-solid'>
              <% end %>
                <div class='panel-heading'>
                  <h3 class='panel-title'><%= p.title %></h3>
                </div>
                <div class='panel-body'>
                  <h4 class='price'>
                    <span class='currency'>
                      &#36;
                    </span>
                    <%= p.price %>
                  </h4>
                  <ul class='list-unstyled'>
                    <li>
                      <strong>5GB</strong>
                      Disk space
                    </li>
                    <li>
                      <strong>10GB</strong>
                      Monthly Bandwidth
                    </li>
                    <li>
                      <strong>10</strong>
                      Email accounts
                    </li>
                    <li>
                      <strong>2</strong>
                      Subdomains
                    </li>
                  </ul>
                  <%= link_to "Buy now", buy_proposal_product_path(@proposal, p), :class => "btn btn-block  btn-light btn-bordered" %>
                </div>
              </div>
            </div>
            <% end %>
          <div class='row'>
            <div class='col-sm-12'>
              <hr class='hr-half hr-invisible'>
              <p class='lead lead-xs text-center'>* 注意balabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabalabala.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>

