<div id='main' role='main'>
  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-md-push-9 col-sm-push-8 col-sm-4 col-md-3'>
          <nav class='sidebar sidebar-fixed'>
            <button class='btn btn-block btn-contrast sidebar-toggle' data-target='.sidebar-collapse' data-toggle='collapse' type='button'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <div class='sidebar-collapse collapse'>
              <div class='box'>
                <h3 class='title'>Info</h3>
                <ul class='list-unstyled list-padded'>
                  <li>
                    <i class='fa fa-user text-contrast fa fa-fixed-width'></i>
                    Company name
                  </li>
                  <li>
                    <i class='fa fa-calendar text-contrast fa fa-fixed-width'></i>
                    September 2013
                  </li>
                </ul>
              </div>
              <div class='box'>
                <h3 class='title'>Services</h3>
                <ul class='list-unstyled list-padded'>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    Webdesign
                  </li>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    HTML / CSS
                  </li>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    Marketing
                  </li>
                  <li>
                    <i class='fa fa-check text-contrast fa fa-fixed-width'></i>
                    Identity
                  </li>
                </ul>
              </div>
              <div class='box'>
                <a class="btn btn-contrast btn-bordered btn-block btn-primary" href="#">加入追蹤</a>
              </div>
              <div class='box'>
                <a class="btn btn-contrast btn-bordered btn-block" href="#">我要贊助</a>
              </div>
            </div>
          </nav>
        </div>
          <div class='col-md-pull-3 col-sm-pull-4 col-sm-8 col-md-9'>
            <div class='row'>
              <div class='col-sm-12'>
                <h2 class='no-mg-t'>Project description</h2>
                <p class='lead lead-sm'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin commodo sit amet eros non dapibus. Aenean vitae fermentum diam.</p>
                <div class='row'>
                  <div class='col-sm-12'>
                    <div class='browser-window'>
                      <div class='browser-header'>
                        <div class='browser-header-controls'>
                          <span class='red'></span>
                          <span class='orange'></span>
                          <span class='green'></span>
                        </div>
                        <div class='browser-address-bar'>
                          <div class='browser-title'>
                            <a href="mailto:info@bublinastudio.com">www.bublinastudio.com</a>
                          </div>
                        </div>
                      </div>
                      <div class='browser-content'>
                        <img alt="" width="1531" height="3202" src="http://placehold.it/1531x3202" />
                      </div>
                    </div>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu justo vitae odio rhoncus pulvinar. Morbi ac congue orci. Nulla tristique ultrices purus vel egestas. Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin commodo sit amet eros non dapibus. Aenean vitae fermentum diam.</p>
                <hr class='hr-invisible hr-half'>
                <p><img class="img-responsive center-block" alt="Project detail" width="300" height="104" src="http://placehold.it/300x104" /></p>
                <hr class='hr-invisible hr-half'>
                <p>Aliquam viverra volutpat facilisis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin commodo sit amet eros non dapibus. Aenean vitae fermentum diam.</p>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa fa-leaf'></i>
                  <h2>
                    評論專區
                  </h2>
                </div>
                <div class='row portfolio-boxes'>

                  <table class="table thumbnail table-striped">
                    <label>問與答</label>
                    <%#@proposal.comments.each do |c|%>
                    <tr>
                      <td><%#=c.content%></td>
                      <td>
                        <% if current_user and current_user == c.user %>
                          <%=link_to "Edit", edit_forum_path(e), :class=>"btn btn-primary"%>
                          <%=link_to "Destroy", forum_path(e), :method=>:delete, :class=>"btn btn-primary"%>
                        <%end%>
                      </td>
                    </tr>
                    <%#end%>
                  </table>
                  <br>
                  <div class="form-group">
                    <label>請留言</label>
                    <input class="form-control" id="input-textarea" type="text">
                  </div>
                  <%#=form_for d, :url=>proposal_comments_path(d), :method=>:patch, :class=>"form" do |f|%>
                  <%#=f.label :content, "Content"%>
                  <%#=f.text_area :content, :class=>"form-control"%>
                  <%#=f.submit "Publish"%>
                  <%#end%>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class='fade' id='scroll-to-top'>
    <i class='fa fa-chevron-up'></i>
  </div>
</div>
