#logo {
  width: 281px;
  height: 53px;
}

#header .navbar-default.navbar-collapsed-sm {
  border-bottom: none;
}

#header {
  background-color: black;
}


#footer #footer-main{
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.sidebar{
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sidebar .sidebar-fixed{
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sidebar .sidebar-toggle{
  margin-bottom: 0px;
}


@media (min-width: 768px) {
  .media .media-body {
    padding-left: 0px;
  }
  #big_screen_nav_padding{
  padding-top: 40px;
  }

}

.zxc {
  background-color: #428bca;
  border-color: white;
  color: white;
}

.category_hidden {
  visibility: hidden;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.ck_img {
  padding-bottom: 0;
}

.progress-success {
  background: #8dc153;
}
