<div id='main' role='main'>

        <div id='main-content'>
          <div class='container'>
            <div class='row' id='portfolio-filter'>
              <div class='col-sm-12'>
                <h2 style='font-size: 40px'>您好， <%= @resource.email %>!</h2>
                <br>
                <p>Someone has requested a link to change your password. You can do this through the link below.</p>

                <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

                <p>If you didn't request this, please ignore this email.</p>
                <p>Your password won't change until you access the link above and create a new one.</p>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa fa-chevron-up'></i>
        </div>
</div>









